body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}



.navi ul {
    list-style: none;
    background: #7838f8;
}

.navi ul li {
    display: inline-block;
    position: relative;
}

.navi ul li a {
    display: block;
    padding: 20px 5px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.navi ul li ul.dropdown li {
    display: block;
}

.navi ul li ul.dropdown {
    width: 100%;
    background: #7838f8;
    position: absolute;
    z-index: 999;
    display: none;
}

.navi ul li a:hover {
    background: #541dc2;
}

.navi ul li:hover ul.dropdown {
    display: block;
}



@keyframes bigger {
    0% { scale: 0;}
    100% {scale: 1;}    
}
@keyframes fadein{
    0% { opacity: 0%;}
    100% {opacity: 100%;}
}
.intro{
    margin-top: 0px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-vector/backround-gradient-colorful-modern-design_677411-4248.jpg);
    padding-bottom: 0px;
    margin-bottom: 0px;

    
}

.intro h1{
    color: white;
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    animation-duration: 2s;
    animation-name: bigger;

}

.intro h2{
    color: white;
    animation-duration: 3s;
    animation-name: fadein;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    

}

.description_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    width: 800px;
    height: 200px;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(102, 51, 143);
    color: white;
    box-shadow: 10px 10px 5px rgba(7, 7, 7, 0.274);

    animation-duration: 3s;
    animation-name: fadein;

}

.description p{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.general{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    padding-left: 2%;
}